#qikipedia {
    position: absolute;
    display: block;
    width: 350px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 16px 100px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 16px 100px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 100px 0 rgba(0, 0, 0, 0.2);
    z-index: 2147483647;

    transform: scale(0.9);
    opacity: 0;
    transition: all 0.1s ease-out;
}

#qikipedia.qikipedia-show {
    transform: scale(1);
    opacity: 1;
}

.qikipedia-body {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    font-size: 14px;
    font-family: sans-serif;
    max-height: 300px;
    overflow-y: scroll;
    padding-bottom: 36px;
    line-height: 24px;
}

.qikipedia-body p,
.qikipedia-body ol,
.qikipedia-body dl,
.qikipedia-body dt,
.qikipedia-body li,
.qikipedia-body ul {
    margin: 16px;
}

.bottom-fade {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 36px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
}

.qikipedia-footer {
    position: absolute;
    bottom: 0;
}

.qikipedia-footer a {
    text-decoration: none;
    display: block;
    font-size: 14px;
    margin: 0 12px 8px 16px;
    font-family: sans-serif;
}

.qikipedia-footer a:hover {
    text-decoration: underline;
}

.qikipedia-image {
    display: block;
    width: 100%;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

.qikipedia-body::-webkit-scrollbar {
    display: none;
}

/*
Theme Colors
 */

.qikipedia-theme-dark {
    background: #22313F;
    color: #FFFFFF;
}

.qikipedia-theme-dark .bottom-fade {
    background: -moz-linear-gradient(top, rgba(34, 49, 63, 0) 0%, rgba(34, 49, 63, 1) 50%, rgba(34, 49, 63, 1) 99%);
    background: -webkit-linear-gradient(top, rgba(34, 49, 63, 0) 0%, rgba(34, 49, 63, 1) 50%, rgba(34, 49, 63, 1) 99%);
    background: linear-gradient(to bottom, rgba(34, 49, 63, 0) 0%, rgba(34, 49, 63, 1) 50%, rgba(34, 49, 63, 1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0022313f', endColorstr='#22313f', GradientType=0);
}

.qikipedia-theme-light {
    background: #FFFFFF;
    color: #22313F;
}

.qikipedia-theme-light .bottom-fade {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
}